.board {
  width: calc(100% - 80px);
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.restart {
  border: none;
  font-size: .65em;
  padding: 0.4em;
  color: #fff;
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.692);
}

.restart:hover {
  background-color:  rgba(0, 129, 250, 0.65)!important;
}